<!DOCTYPE html>
<html>
  <head>
    <title>设置新密码</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{% static "resources/css/axure_rp_page.css" %}" type="text/css" rel="stylesheet"/>
    <link href="{% static "data/styles.css" %}" type="text/css" rel="stylesheet"/>
    <link href="{% static "files/设置新密码/styles.css" %}" type="text/css" rel="stylesheet"/>
    <link href="{% static "http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" %}" type="text/css" rel="stylesheet"/>
    <script src="{% static "resources/scripts/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "resources/scripts/axure/axQuery.js" %}"></script>
    <script src="{% static "resources/scripts/axure/globals.js" %}"></script>
    <script src="{% static "resources/scripts/axutils.js" %}"></script>
    <script src="{% static "resources/scripts/axure/annotation.js" %}"></script>
    <script src="{% static "resources/scripts/axure/axQuery.std.js" %}"></script>
    <script src="{% static "resources/scripts/axure/doc.js" %}"></script>
    <script src="{% static "resources/scripts/messagecenter.js" %}"></script>
    <script src="{% static "resources/scripts/axure/events.js" %}"></script>
    <script src="{% static "resources/scripts/axure/recording.js" %}"></script>
    <script src="{% static "resources/scripts/axure/action.js" %}"></script>
    <script src="{% static "resources/scripts/axure/expr.js" %}"></script>
    <script src="{% static "resources/scripts/axure/geometry.js" %}"></script>
    <script src="{% static "resources/scripts/axure/flyout.js" %}"></script>
    <script src="{% static "resources/scripts/axure/model.js" %}"></script>
    <script src="{% static "resources/scripts/axure/repeater.js" %}"></script>
    <script src="{% static "resources/scripts/axure/sto.js" %}"></script>
    <script src="{% static "resources/scripts/axure/utils.temp.js" %}"></script>
    <script src="{% static "resources/scripts/axure/variables.js" %}"></script>
    <script src="{% static "resources/scripts/axure/drag.js" %}"></script>
    <script src="{% static "resources/scripts/axure/move.js" %}"></script>
    <script src="{% static "resources/scripts/axure/visibility.js" %}"></script>
    <script src="{% static "resources/scripts/axure/style.js" %}"></script>
    <script src="{% static "resources/scripts/axure/adaptive.js" %}"></script>
    <script src="{% static "resources/scripts/axure/tree.js" %}"></script>
    <script src="{% static "resources/scripts/axure/init.temp.js" %}"></script>
    <script src="{% static "resources/scripts/axure/legacy.js" %}"></script>
    <script src="{% static "resources/scripts/axure/viewer.js" %}"></script>
    <script src="{% static "resources/scripts/axure/math.js" %}"></script>
    <script src="{% static "resources/scripts/axure/jquery.nicescroll.min.js" %}"></script>
    <script src="{% static "data/document.js" %}"></script>
    <script src="{% static "files/设置新密码/data.js" %}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u920" class="ax_default _默认样式">
        <div id="u920_div" class=""></div>
        <div id="u920_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u921" class="ax_default _默认样式">
        <div id="u921_div" class=""></div>
        <div id="u921_text" class="text ">
          <p><span>设置新密码</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u922" class="ax_default _默认样式">
        <div id="u922_div" class=""></div>
        <div id="u922_text" class="text ">
          <p><span>LOGO</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u923" class="ax_default _默认样式">
        <div id="u923_div" class=""></div>
        <div id="u923_text" class="text ">
          <p><span>下一步</span></p>
        </div>
      </div>

      <!-- 输入框 (组合) -->
      <div id="u924" class="ax_default" data-label="输入框" data-left="477" data-top="350" data-width="350" data-height="50">

        <!-- Unnamed (矩形) -->
        <div id="u925" class="ax_default _默认样式">
          <div id="u925_div" class=""></div>
          <div id="u925_text" class="text ">
            <p><span>设置设置6至20位登录密码</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u926" class="ax_default _默认样式">
          <div id="u926_div" class=""></div>
          <div id="u926_text" class="text ">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- 输入框 (组合) -->
      <div id="u927" class="ax_default" data-label="输入框" data-left="477" data-top="420" data-width="350" data-height="50">

        <!-- Unnamed (矩形) -->
        <div id="u928" class="ax_default _默认样式">
          <div id="u928_div" class=""></div>
          <div id="u928_text" class="text ">
            <p><span>请再次输入登录密码</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u929" class="ax_default _默认样式">
          <div id="u929_div" class=""></div>
          <div id="u929_text" class="text ">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (精简底部) -->

      <!-- Unnamed (矩形) -->
      <div id="u931" class="ax_default _默认样式">
        <img id="u931_img" class="img " src="{% static "images/register/u748.svg " %}">
        <div id="u931_text" class="text ">
          <p><span>Copyright © </span><a id="u932" class="link" title="点击打开www.AxureUX.com"><span>AxureUX</span></a><span> All Rights Reserved.</span></p><p><span>助你快速打造友好美观的交互原型</span></p>
        </div>
      </div>
      <div id="u930" style="display:none; visibility:hidden;"></div>
    </div>
    <script src="{% static "resources/scripts/axure/ios.js" %}"></script>
  </body>
</html>
